[mysqld]
server-id=1
gtid_mode=ON
enforce-gtid-consistency
plugin-load=rpl_semi_sync_master=semisync_master.so
rpl_semi_sync_master_enabled = 1
log-bin=mysql-bin
log-slave-updates=1
datadir=/var/lib/mysql/
innodb_flush_log_at_trx_commit = 2
#innodb_flush_method = O_DIRECT
skip-host-cache
skip-name-resolve
binlog_format=ROW
binlog_do_db = otus
